# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/
.packages
.metadata
.flutter-plugins-dependencies
.flutter-plugins
flutter_*.png
.last_build_id
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build/
/android/build/
/android/.gradle/
/android/local.properties
/android/captures/
/android/.externalNativeBuild/
/android/gradle.properties
/android/gradle-wrapper.properties

# iOS related
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/Runner.xcworkspace/
/ios/Runner/GeneratedPluginRegistrant.*

.env
.env.local

# 키 관련 파일 제외
android/key.properties
android/app/upload-keystore.jks
*.jks
*.keystore
